*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#f8f8f8;
}

header{
background:#7b2cbf;
color:white;
padding:20px;
display:flex;
justify-content:space-between;
align-items:center;
}

nav a{
color:white;
text-decoration:none;
margin-left:20px;
font-weight:bold;
}

nav a:hover{
color:yellow;
}

.hero{
text-align:center;
padding:80px 20px;
background:white;
}

.hero h2{
font-size:36px;
margin-bottom:20px;
}

.hero p{
max-width:700px;
margin:auto;
line-height:1.7;
}

button{
margin-top:25px;
padding:12px 25px;
background:#7b2cbf;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
font-size:16px;
}

button:hover{
background:#5a189a;
}

.services{
padding:50px;
text-align:center;
}

.cards{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
margin-top:30px;
}

.card{
background:white;
padding:25px;
width:250px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.2);
}

.card h3{
margin-bottom:10px;
color:#7b2cbf;
}

.about{
padding:60px;
text-align:center;
}

.about p{
max-width:800px;
margin:auto;
line-height:1.8;
font-size:18px;
}

footer{
background:#7b2cbf;
color:white;
text-align:center;
padding:20px;
margin-top:40px;
}

